@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<h3>To do list</h3>
	<ul class="list-group w-50 mx-auto">
		<li class="list-group-item">Add search function</li>
		<li class="list-group-item">Add filtering</li>
		<li class="list-group-item">Rework front end</li>
		<li class="list-group-item">Allow multiple genres for a book</li>
		<li class="list-group-item">User reviews, comments and rating</li>
	</ul>
</div>
