@using MyBookDatabase.DTO
@model BookDTO;
<div>
	<form asp-action="Update">
		<h4>Edit a book</h4>
		<div class="form-group">
			<label class="control-label" asp-for="Title"></label>
			<input class="form-control" asp-for="Title" type="text" required />
		</div>
		<div class="form-group">
			<label class="control-label" asp-for="AuthorId"></label>
			<select class="form-control" asp-for="AuthorId" asp-items="ViewBag.Authors" required></select>
		</div>
		<div class="form-group">
			<label class="control-label" asp-for="GenreId"></label>
			<select class="form-control" asp-for="GenreId" asp-items="ViewBag.Genres" required></select>
		</div>
		<div class="form-group">
			<label asp-for="PublicationDate"></label>
			<input type="date" asp-for="PublicationDate" class="form-control" required />
		</div>
		<div class="form-group">
			<label class="control-label" asp-for="Isbn"></label>
			<input class="form-control" asp-for="Isbn" type="text" required />
		</div>
		<div class="form-group">
			<label class="control-label" asp-for="Description"></label>
			<textarea class="form-control" asp-for="Description" required></textarea>
		</div>
		<div>
			<input class="btn btn-success" type="submit" value="Save changes" />
		</div>
	</form>
</div>